<div class="container">
    <h1 ng-if="!vm.data">Server issue</h1>
    <div class="row" ng-if="vm.data">
        <h1>Cheap flight finder</h1>
        <form name="filter_form" ng-submit="vm.findFlights(filter_form)">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" ng-bind="vm.data.messages.choose_departure_airport"></label>
                    <select class="form-control" name="" id="" ng-model="vm.form.from" ng-init="vm.form.from = vm.airports_list[0]" ng-options="option.name for option in vm.airports_list">
                    </select>
                </div>
                <div class="form-group">
                    <label for="" ng-bind="vm.data.messages.choose_destination_airport"></label>
                    <select class="form-control" name="" id="" ng-model="vm.form.to" ng-init="vm.form.to = vm.airports_list[1]" ng-options="option.name for option in vm.airports_list"></select>
                </div>
                <div class="form-group">
                    <label for="" ng-bind="vm.data.messages.choose_return_date"></label>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="period-label" for="">From</label>
                            <input class="form-control" ng-model="vm.form.from_date" name="from_date" type="date" required>
                        </div>
                        <div class="col-md-12">
                            <label class="period-label" for="">To</label>
                            <input class="form-control" ng-model="vm.form.to_date" name="to_date" type="date" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success pull-right find-button" ng-disabled="!filter_form.$valid" type="submit">Find</button>
            </div>
        </form>
        <div class="col-md-9">
            <flights-table result="vm.result"></flights-table>
        </div>
    </div>
</div>
