<h2 ng-show="!vm.result">To find flights you should to fill the search form.</h2>
<h2 ng-show="vm.result && !vm.result.flights_list.length">Sorry, there are no flights on route guidance. Try again later.</h2>
<table class="table table-striped" ng-show="vm.result.flights_list.length"> 
    <thead> 
        <tr> 
            <th>#</th> 
            <th>Departure airport</th>
            <th>Destination airport</th>
            <th>Date from</th> 
            <th>Date to</th> 
            <th>Cost</th> 
        </tr> 
    </thead> 
    <tbody> 
        <tr ng-repeat="fly in vm.result.flights_list | orderBy:'price' track by $index"> 
            <th scope="row" ng-bind="$index+1"></th>
            <td ng-bind="vm.result.departure_airport"></td> 
            <td ng-bind="vm.result.destination_airport"></td>  
            <td ng-bind="fly.dateFrom | flightdate"></td> 
            <td ng-bind="fly.dateTo | flightdate"></td> 
            <td ng-bind="(fly.price | number:2) + ' ' + fly.currency"></td> 
        </tr> 
    </tbody> 
</table>